asgiref==3.7.2
Django==3.2.3
django-filter==23.1
djangorestframework==3.14.0
djangorestframework-simplejwt==4.8.0
django-cors-headers==3.13.0
djoser==2.1.0
drf-extra-fields==3.1.1
gunicorn==20.1.0
flake8==6.0.0
flake8-isort==6.0.0
isort==5.12.0
psycopg2-binary==2.9.3
Pillow==9.0.0
pytest==5.3.5
pytest-django==3.8.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
pytz==2019.3
python-dotenv==1.0.0
requests==2.22.0
